img{
     width:400px;
     height:300px;
}
.link{
    background-color:yellowgreen;
}
.heading{
    background-color: yellowgreen;
}
.head{
    background-color: yellowgreen;
}
.awesome{
    background-color: yellowgreen;
}